::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  :root {
    /*--header-height: 3rem;
    --nav-width: 68px;*/
    --first-color: #ed8975;
    --first-color-light: #f2d093;
    --white-color: #F7F6FB;
    --body-font: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box
  }
  
  body {
    position: relative;
    margin: var(--header-height) 0 0 0;
   
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
  }
  
  a:link {
    text-decoration: none;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #f2d093;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #f2d093;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  /*neww*/
  /* Estilo do cabeçalho */
  .head-info {
  background: linear-gradient(45deg, #f2d093 0%, #ed8975 100%);
  text-align: center;
  padding: 80px 0;
  }
  
  .head-info h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff4e0;
  }
  .card {
  width: 105px;
  background-color: #f2d096;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  }
  .image img {
  transition: all 0.5
  }
  .btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
  }
  
  
  .head-info h2 {
  font-size: 15px;
  background-color: #f2d096;
  color: black;
  }
  /* Estilo do menu de navegação */
  nav ul {
  list-style: none;
  }
  
  nav ul li {
  display: inline;
  margin-right: 20px;
  }
  
  nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  }
  
  /* Estilo do rodapé */
  footer {
    background: linear-gradient(45deg, #f2d093 0%, #ed8975 100%);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  }

  footer a{
    color: #fff;
  }
  /**/
  
  .header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /*background-color: var(--white-color);*/
    z-index: var(--z-fixed);
    transition: .5s
  }
  
  .header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
  }
  
  .header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
  }
  
  .header_img img {
    width: 40px
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; }
  
  .l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
  }
  
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
  
  }
  
  .nav_logo,
  .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
  }
  
  .nav_logo {
    margin-bottom: 2rem
  }
  
  .nav_logo-icon {
    width: 1.25rem;
    color: var(--white-color)
  }
  
  .nav_logo-name {
    color: var(--white-color);
    font-weight: 700
  }
  
  .nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
  }
  
  .nav_link:hover {
    color: var(--white-color)
  }
  
  .nav_icon {
    font-size: 1.25rem
  }
  
  .show {
    left: 0
  }
  
  .body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
  }
  
  .active {
    color: var(--white-color)
  }
  
  .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
  }
  
  .height-100 {
    height: 100vh
  }
  .page-wrapper {
    min-height: 100vh;
    position: relative;
  
  }
  .bg-gra-02 {
    /*background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);*/
    background: linear-gradient(45deg, #f2d093 0%, #ed8975 100%);
  }
  .p-t-130 {
    padding-top: 130px;
  }
  .p-b-100 {
    padding-bottom: 100px;
    
  }
  .font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }
  
  @media screen and (min-width: 768px) {
    body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem)
    }
  
    .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
  
    .header_img {
      width: 40px;
      height: 40px
    }
  
    .header_img img {
      width: 45px
    }
  
    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0
    }
  
    .show {
      width: calc(var(--nav-width) + 156px)
    }
  
    .body-pd {
      padding-left: calc(var(--nav-width) + 188px)
    }
  }
  
  /* CSS para foto de perfil redonda e responsiva */
  .foto-perfil {
    width: 250px; /* Altere este valor para o tamanho desejado */
    height: 250px; /* Altere este valor para o tamanho desejado */
    border-radius: 10%; /* Define a borda como uma circunferência perfeita */
    overflow: hidden; /* Oculta qualquer coisa que esteja além da borda */
    border: #ed8975;
    border-radius: 15px
    ;
  }
  
  .foto-perfil img {
    width: 100%; /* Deixa a imagem preencher toda a área do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  /* Responsividade */
  @media screen and (max-width: 600px) {
    .foto-perfil {
        width: 80px; /* Altere este valor para o tamanho desejado */
        height: 80px; /* Altere este valor para o tamanho desejado */
    }
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin-top: 95px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .container .title-model{
    font-family: var(--body-font);
    color: #304d63;
    font-weight: bold;
  }
  
  .container .styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Estilos responsivos para o container */
  @media (max-width: 768px) {
    .container {
      width: 90%;
      padding: 15px;
    }
  }
  
  .container .bnt-add{
    background-color: #ed8975; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    border: none;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .bnt-add:hover {
    background-color: #f2d096;
  }
  .page-wrapper {
    min-height: 100vh;
    
  }
  
  /* Estilo para a imagem */
.image-container img {
  width: 100%; /* Definindo a largura da imagem */
  height: auto; /* Definindo a altura da imagem automaticamente */
 }
 
 /* Estilo para o container da imagem */
 .image-container {
  position: relative; /* Definindo a posição do container */
  display: block;       /* Definindo o container como um bloco */
  float: right;         /* Colocando o container à direita */
  max-width: 50%;       /* Definindo a largura máxima do container */
  top: -50px;
}
 
 /* Estilo para tornar a imagem responsiva */
 @media (max-width: 768px) {
  .image-container img .image-container-2 img{
     width: 100%; /* Ajustando a largura da imagem */
  }
 }

 .image-container-2{
  width: 100%; /* Definindo a largura da imagem */
  height: auto; 
  position: relative; /* Definindo a posição do container */
  display: block;       /* Definindo o container como um bloco */
  float: left;         /* Colocando o container à direita */
  max-width: 50%;       /* Definindo a largura máxima do container */
  top: -50px;
  padding-left: 50px;
 }
  
 .body-inicio h2{
  font-family: "Poppins", sans-serif;
  color: #304d63;
  padding-left: 50px;
 } 

 .body-inicio h3{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #f2d093 0%, #ed8975 100%);
  color: #fff4e0;
  padding-left: 50px;
 } 
  
 .data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #fff;
  position: relative;
}

.data-content {
  background-color: #fff;
  padding: 0px;
  width: 100vh;
}

.opening-hours,
.closing-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.opening-hours {
  background-color: #e8f5e9;
  color: #4caf50;
}

.closing-hours {
  background-color: #f0c4bb;
  color: #f44336;
}

